In [10]:
# импорт библиотек и задание тестовых данных

import pandas as pd

df = pd.DataFrame(
     {
         "a": pd.Series([1, 2, 3], dtype="int64"),
         "b": pd.Series(["x", "y", "z"], dtype="str"),
         "c": pd.Series([True, False, None], dtype="boolean"),
         "d": pd.Series(["18.240.000,00","11.366.070,34","5.100.000,00","1.558.062,00","2.313.643,20","937.315,44","837.364,63","153.600,00",], dtype="str"),
         "e": pd.Series([10, None, 20], dtype="float64"),
         "f": pd.Series([None, 100.5, 200], dtype="float64"),
     }
)

In [9]:
# Пример преобразования данных

print(df.dtypes)
print (df)

df[["d"]] = (
    df[["d"]]
    .replace({r"\.": "", ",": "."}, regex=True)
    .astype("Float64")
)


print(df.dtypes)
print (df)

a    float64
b     object
c    boolean
d    Float64
e    float64
f    float64
dtype: object
     a    b      c            d     e      f
0  1.0    x   True   18240000.0  10.0    NaN
1  2.0    y  False  11366070.34   NaN  100.5
2  3.0    z   <NA>    5100000.0  20.0  200.0
3  NaN  NaN   <NA>    1558062.0   NaN    NaN
4  NaN  NaN   <NA>    2313643.2   NaN    NaN
5  NaN  NaN   <NA>    937315.44   NaN    NaN
6  NaN  NaN   <NA>    837364.63   NaN    NaN
7  NaN  NaN   <NA>     153600.0   NaN    NaN
a    float64
b     object
c    boolean
d    Float64
e    float64
f    float64
dtype: object
     a    b      c            d     e      f
0  1.0    x   True   18240000.0  10.0    NaN
1  2.0    y  False  11366070.34   NaN  100.5
2  3.0    z   <NA>    5100000.0  20.0  200.0
3  NaN  NaN   <NA>    1558062.0   NaN    NaN
4  NaN  NaN   <NA>    2313643.2   NaN    NaN
5  NaN  NaN   <NA>    937315.44   NaN    NaN
6  NaN  NaN   <NA>    837364.63   NaN    NaN
7  NaN  NaN   <NA>     153600.0   NaN    NaN